#para1{
text-align: center; background-color: red;}
#para2{text-align: right; background-color: green;
}
#para3{text-align: green; background-color: blue; color: white;
} 
#img1{height:250px; width:250px;
}
