.col-1{
    width: 8.33%;
    float: left;
}
.col-2{
    width:16.66%;
    float: left;
}
.col-3{
    width: 25%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-5{
    width: 41.66%;
    float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.col-7{
    width: 58.33%;
    float: left;
}
.col-8{
    width: 66.66%;
    float: left;
}
.col-9{
    width: 75%;
    float: left;
}
.col-10{
    width: 83.33%;
    float: left;
}
.col-11{
    width: 91.66%;
    float: left;
}
.col-12{
    width:100vw;
    float: left;
}



.item1{
    background-color: lightblue;
    height:100%;
}
.item2{
    background-color: white;
    height: 100px;
}


.a{
    border: hidden;
    height: 50%;
    width:100vw;
}
.b{
    border: hidden;
    height: 80%;
    width:100vw;
}
.c{
    border: solid 1px;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-bottom:-10px ;
    margin-top:-10px;
    padding: 35px;
}
.d{
    border: solid 1px;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-bottom: -10px;
    margin-top: -10px;
    padding: 35px;
}
.e{
    border: solid 1px;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-bottom: -10px;
    margin-top: -10px;
    padding: 35px;
}
.item1 ul li{
    color:white;
    padding: 10px;
    list-style-type: none;

}
.item3 dl li{
    color: white;
    padding: 15px;
    list-style-type: none;
}
.item2 ol  li{
    display: inline-block;
    list-style-type: none;
    padding: 15px;
}
.item2 li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}
.f{
    height: 10px;
    width: 10px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: -40px;
    margin-bottom: -40px;
}
.g{
    margin-top: -55px;
}
.h{
    margin-top: -20px;
}
.item2 .c p{
    display: inline-block;
    padding: 5px;

}
.item2 .c .i{
    height: 10px;
    width: 10px;
}
.item2 .c .j{
    height: 10px;
    width: 10px;
}
.item2 button{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 50px;

}
.f{
    height: 10px;
    width: 10px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: -40px;
    margin-bottom: -40px;
}
.g{
    margin-top: -55px;
}
.h{
    margin-top: -20px;
}
.item2 .d p{
    display: inline-block;
    padding: 5px;

}
.item2 .d .i{
    height: 10px;
    width: 10px;
}
.item2 .d .j{
    height: 10px;
    width: 10px;
}
.item2 button{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 50px;

}
.item2 .e p{
    display: inline-block;
    padding: 5px;

}
.item2 .e .i{
    height: 10px;
    width: 10px;
}
.item2 .e .j{
    height: 10px;
    width: 10px;
}
.item2 button{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
    background-color: blue;

}
.item3{
    background-color: lightblue;
    height: 100%;

}
.dd{
    color:blue ;
}
.ee{
    text-decoration: underline;
}
.item3 dl li img{
    height: 30px;
    width: 30px;
}
.item3 dl li{
    color: black;
    
}
.item1 ul li img{
    height: 10px;
    width: 10px;
}
.item2{
    background-color: lightblue;
}
.item1 ul li{
    color: black;
}
.jj{
    text-decoration: underline;
}
.item1 li:hover{color:white}

@media only screen and (max-width:480){
    [class*="col-"]{
        width:100vw;
    }
    
}
.item3 li:hover{color:white}
.item2 li:hover{color:blue}









