.a{border:solid;height:1138px;width:640px;background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
}
.b{border:solid;height:300px;width:400px;margin-right:120px;margin-left:120px;border-color:#48ee59;margin-top:500px;margin-bottom:500px;
}
.c{color:#ffffff;font-family:"Bree Serif";font-size:60px;margin-top:2px;margin-bottom:2px;}
