#task{height:750px;width:700px;border:solid;border-radius:20px;background-color:blue;text-align: center;font-family:"times new roman"}
#task1{height:550px;width:500px;border:solid;border-radius:20px;margin:95px;}
#img{height:150px;width:150px;display: block;margin-left: auto;margin-right: auto;padding:100px;}
